 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I am currently researching Dark Energy through the study of 
    galaxy clusters. The number of galaxy clusters that we observe 
    in large scale surveys of the sky can help us learn
    about very fundamental costants of the Universe. My current work 
    focuses on improving the methods we use to identify and count 
    these number of thesegalaxy clusters. 
    Much of my research consists of designing software and and building 
    scalable, modular, and robust software packages 
    to perform these analyses.  From my six years as a software engineer 
    I've come to love programming and building and architecturing solutions
    within code.
    
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Science</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>WIP</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>WIP</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>WIP</p>
    </div>
</div>
